<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Monitoring</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="forms-div">
        <form class="forms">
            <label for="regUsername">Username:</label>
            <input type="text" id="regUsername" name="regUsername" required>
            <label for="regPassword">Password:</label>
            <input type="password" id="regPassword" name="regPassword" required>
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
            <div class="form-buttons">
                <button type="submit">Register</button>
                <button type="button" id="login" onclick="displayLoginForm">Back to Login</button>
            </div>
    </div>
    <div class="forms-div" style="display: none;">
        <form class="forms">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
    </div>
    <script src="registration.js"></script>
</body>
</html>
